.contenedorHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(219, 213,213);
}
.contenedorHeader h3{
    padding-left: 20px;
    color: blue;
}
.contenedorHeader h3:hover{
    
    color: red;
}
.contenedorFooter{
    width: 100%;
    border:solid red;
    display: flex;
    flex-direction: row;
}
.boxFooter{
    width: 33.3%;
    border: solid yellow;
    padding: 20px;
        
}
a{
    text-decoration: none;
}
.minibox img{
    height: 30px;
    width: 30px;
}
.minibox{
    display: flex;
    align-items: center;
}
.minibox a{
    padding-left: 15px;
}