.contenedorHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(219, 213,213);
}
.contenedorHeader h3{
    padding-left: 20px;
    color: blue;
}
.contenedorHeader h3:hover{
    
    color: red;
}
.contenedorFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.boxFooter{
    width: 33.3%;
    background-color: gray;
    padding: 20px;

}
a{
    text-decoration: none;
}
.minibox img{
    height: 30px;
    width: 30px;
}
.minibox{
    display: flex;
    align-items: center;
}
.minibox a{
    padding-left: 15px;
}
.boxFooter p{
    text-align: justify;
}
.minibox a:hover{
    color: orange;
    /* display: none;  es para cuando pase el mouse se esconda */
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box i{
    padding-right: 15px;
}
.contenedor{
    padding-left: 100px;
    padding-right: 100px;
}
.contenedorInput{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 20%;

}
